* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
}

nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 9px 2px #00000049;
}

ul {
    width: 500px;
    display: flex;
    justify-content: space-around;
    color: rgb(78, 78, 78);
}
#logo {
    padding-left: 40px;
    font-size: 1.5em;
}
#logo > strong {
    color: rgb(225 113 19);
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    height: 100vh;
}

main {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
main > article {
    display: flex;
    width: 600px;
    flex-direction: column;
}
#welcome {
    color: rgb(225, 101, 19);
    font-weight: bolder;
    font-size: 18px;
}
#big-middle {
    font-size: 50px;
    font-weight: bolder;
}
#button {
    color: white;
    background-color: rgb(225, 67, 19);
    width: fit-content;
    font-size: 1em;
    box-sizing: border-box;
    padding: 10px 40px;
    margin-top: 30px;
    border-radius: 8px;
}